<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.statshub.statshub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Marqueur.MarqueurActivity" />
        <activity
            android:name=".Hockey.HockeyActivity"
            android:label="@string/title_activity_hockey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Hockey.TeamsActivity" />
        <activity android:name=".Hockey.PlayersFromTeamsActivity" />
        <activity
            android:name=".Soccer.SoccerActivity"
            android:label="@string/title_activity_soccer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Soccer.STeamsActivity" />
        <activity android:name=".Soccer.SPlayersFromTeamsActivity" />
        <activity android:name=".Hockey.LeaguesLeaderAdapter" />
        <activity android:name=".Hockey.LeadersActivity" />
        <activity android:name=".Hockey.PlayersLeadersAdapter" />
        <activity android:name=".Soccer.SLeadersActivity" />
        <activity android:name=".Marqueur.HockeyMarqueur" />
        <activity android:name=".Marqueur.SoccerMarqueur"></activity>
    </application>

</manifest>