<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.statshub.statshub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarqueurActivity" />
        <activity
            android:name=".HockeyActivity"
            android:label="@string/title_activity_hockey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TeamsActivity" />
        <activity android:name=".PlayersFromTeamsActivity" />
        <activity
            android:name=".SoccerActivity"
            android:label="@string/title_activity_soccer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".STeamsActivity" />
        <activity android:name=".SPlayersFromTeamsActivity" />
        <activity android:name=".LeaguesLeaderAdapter" />
        <activity android:name=".LeadersActivity" />
        <activity android:name=".PlayersLeadersAdapter" />
        <activity android:name=".SLeadersActivity" />
        <activity android:name=".LoggedMarqueurActivity"></activity>
    </application>

</manifest>